// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require bootstrap_overrides
*/

body {
  font: Arial;
}

.flash {
  padding: 10px;
  margin: 4px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #000;
  border: 1px #666 solid;
}

.flash.error {
  background-color: #D0F502;
}

.flash.notice {
  background-color: #2F912C;
}

.primary_padded_button {
  margin-left: 8px;
}